__pycache__/
env/
venv/
.venv/
.idea/
*.log
*.egg-info/
pip-wheel-EntityData/
.env
.DS_Store
static/
test.py
rsa_key.p8
rsa_key.pub
aws.pem
.vscode/
data/
*.csv
test.json
voiceagentcbh.pem
*.pem
download